<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="csv">

    <listeners>
        <listener class-name="net.sf.testng.databinding.TestAnnotationTransformer"/>
    </listeners>

    <test name="SampleTest">
        <classes>
            <class name="test.java.SampleTest"/>
        </classes>
    </test>
</suite>